.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: brown;
    margin-bottom: 20px;
}


li {
    list-style: none;
    
    
}
a{
    color: white;
    text-decoration: none;
    margin: 15px;
    text-transform: uppercase;
}